@font-face {
	font-family: 'font'; /*a name to be used later*/
	src: url('font.otf'); /*URL to font*/
}

body {
	color:#F0F0F0;
	font-family: 'font';
	background-color: #fff;
	text-shadow: #000 5px 5px 20px;
	-webkit-font-smoothing: antialiased;
	padding: 0px;
	margin: 0px;
}

#loading {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

#image {
	width: 100%;
	height: 100%;
	background: no-repeat center center fixed;
	background-color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#centercontainer {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	display: table;
	padding: 10%;
}

#quote {
	text-align: center;
	font-size:50px;
}

#author {
	margin-top: 40px;
	text-align: right;
	font-size: 20px;
}

#picby {
	position:absolute;
	bottom:10px;
	text-align: center;
	width: 100%;
	font-size:14px;
}

#github {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#refresh {
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: hand;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}